<div class="bgc">
    <div class="image-container">
        <h2 style="color:blueviolet; text-align: right;font-family: 'Times New Roman', Times, serif;"> 
          <button routerLink="/manager" routerLinkActive="active" class="custom-btn btn-1">
          Home
          </button>EMPLOYEE LIST </h2>
      
      <img src="https://cdn.pixabay.com/photo/2016/03/31/19/50/checklist-1295319_960_720.png" alt="">
    </div>
    <button routerLink="/create-employee" routerLinkActive="active" class="routing-button" style="font-weight: bold;">CREATE</button>
    
    <div class="table-container">
        
      <table class="table table-striped">
        <thead>
          <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email Id</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
            <tr class="gradient-row">
              <td>jeevan</td>
              <td>ambavaram</td>
              <td>jeevan@gmail.com</td>
              <td>
                <button  class="update-button">Update</button>
                <button  class="delete-button">Delete</button>
                <button  class="view-button">View</button>
              </td>
            </tr>
          </tbody>
          <tbody>
            <tr class="gradient-row">
              <td>jeevan Reddy</td>
              <td>ambavaram</td>
              <td>jeevanambavram@gmail.com</td>
              <td>
                <button  class="update-button">Update</button>
                <button  class="delete-button">Delete</button>
                <button  class="view-button">View</button>
              </td>
            </tr>
          </tbody> <tbody>
            <tr class="gradient-row">
              <td>jeevan Reddy</td>
              <td>ambavaram</td>
              <td>jeevanambavram@gmail.com</td>
              <td>
                <button  class="update-button">Update</button>
                <button  class="delete-button">Delete</button>
                <button  class="view-button">View</button>
              </td>
            </tr>
          </tbody> <tbody>
            <tr class="gradient-row">
              <td>jeevan Reddy</td>
              <td>ambavaram</td>
              <td>jeevanambavram@gmail.com</td>
              <td>
                <button  class="update-button">Update</button>
                <button  class="delete-button">Delete</button>
                <button  class="view-button">View</button>
              </td>
            </tr>
          </tbody> <tbody>
            <tr class="gradient-row">
              <td>jeevan Reddy</td>
              <td>ambavaram</td>
              <td>jeevanambavram@gmail.com</td>
              <td>
                <button  class="update-button">Update</button>
                <button  class="delete-button">Delete</button>
                <button  class="view-button">View</button>
              </td>
            </tr>
          </tbody> <tbody>
            <tr class="gradient-row">
              <td>jeevan Reddy</td>
              <td>ambavaram</td>
              <td>jeevanambavram@gmail.com</td>
              <td>
                <button  class="update-button">Update</button>
                <button  class="delete-button">Delete</button>
                <button  class="view-button">View</button>
              </td>
            </tr>
          </tbody>
          
        <!--tbody>
          <tr *ngFor="let employee of employees" class="gradient-row">
            <td>{{ employee.firstname }}</td>
            <td>{{ employee.lastname }}</td>
            <td>{{ employee.emailId }}</td>
            <td>
              <button (click)="updateEmployee(employee.id)" class="update-button">Update</button>
              <button (click)="deleteEmployee(employee.id)" class="delete-button">Delete</button>
              <button (click)="employeeDetails(employee.id)" class="view-button">View</button>
            </td>
          </tr>
        </tbody-->
      </table>
    </div>
</div>
  