<!--div class="employee-card">
  <h2>Options</h2>
  <ul>
    <li><a routerLink='/employees' routerLinkActive="active">Employee List</a></li><br>
    <li><a routerLink='/create-employee' routerLinkActive="active">Create</a></li>
  </ul>
</div-->

<div class="card">
  <div class="card-content">
    <h2>Card Title</h2>
    <p>This is the card content.</p>
    <div class="options">
      <a routerLink='/employees' routerLinkActive="active">Employee List</a>
    <a routerLink='/create-employee' routerLinkActive="active">Create</a>
    </div>
  </div>
</div>
