<!--div class="col-md-6 offset-md-3">
<h3> Create Employee </h3>
<form (ngSubmit) = "onSubmit()">

    <div class="form-group">
        <label> First Name </label>
        <input type="text" class="form-control" id= "firstname"
            [(ngModel)] = "employee.firstname" name = "firstname">
    </div>
    <br>


    <div class="form-group">
        <label> Last Name </label>
        <input type="text" class="form-control" id= "lastname"
            [(ngModel)] = "employee.lastname" name= "lastname">
    </div>
    <br>


    <div clas="form-group">
        <label> Email Id </label>
        <input type="text" class="form-control" id= "emailId"
            [(ngModel)] = "employee.emailId" name= "emailId">
    </div>
    <br>


    <div class="form-group text-center">
        <button class="btn btn-success" type="submit">Submit</button>
      </div>
      
</form>
</div--> 


<div class="bgc">
    <img stytle='background-size:cover,' src="https://pic.onlinewebfonts.com/svg/img_117269.png" alt="">

<div class="container">
    <div class="card" style="background-color: rgb(105, 192, 213); opacity: 0.85;">
        <button routerLink="/manager" routerLinkActive="active" class="custom-btn btn-1">
            Home
            </button>
        <h5 class="card-header" style="text-align: center;background-color:antiquewhite;font-weight: bold">New Employee</h5>
  <div class="card-body">
      <form [formGroup]="addEmployee" (ngSubmit)="onSubmit()">
          <div class="form-row">
              <div class="form-group col">
                  <label style="font-weight: bold;">FirstName</label>
                  <input type="text" formControlName="firstName" class="form-control" [(ngModel)]="employee.firstname" [ngClass]="{ 'is-invalid': submitted && f['firstName'].errors }" />
                  <div *ngIf="submitted && f['firstName'].errors" class="invalid-feedback">
                      <div *ngIf="f['firstName'].errors['required']"> Name is required</div>
                  </div>
              </div>
              <div class="form-group col">
                  <label style="font-weight: bold;">LastName</label>
                  <input type="text" formControlName="userName" class="form-control" [(ngModel)]="employee.lastname" [ngClass]="{ 'is-invalid': submitted && f['lastName'].errors }" />
                  <div *ngIf="submitted && f['userName'].errors" class="invalid-feedback">
                      <div *ngIf="f['userName'].errors['required']">LastName is required</div>
                      <div *ngIf="f['userName'].errors['minLength']">LastName must be at least 5 characters</div>
                  </div>
              </div>
          </div>
          <div class="form-row">
            <div class="form-group col">
              <label style="font-weight: bold;">Email</label>
              <input type="text" formControlName="email" class="form-control"  [(ngModel)]="employee.emailId" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" />
              <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                  <div *ngIf="f['email'].errors['required']">Email is required</div>
                  <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
              </div>
            </div>
          </div>
          <div class="text-center">
            <button class="btn btn-primary mr-1 submit-button" type="submit"><span></span><span></span><span></span><span></span>Submit</button>     
            <button class="btn btn-secondary cancel-button" type="reset" (click)="onReset()">Cancel</button><br>
        </div>
        <div class="text-center">
            <button routerLink="/employees" routerLinkActive="active" class="routing-button" style="font-weight: bold;">Employee List</button>
        </div>
        </form>
  </div>
  </div>
  </div>
  </div>
  