.bgc {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    background: linear-gradient(120deg, #807de5, #a2ebe5,rgb(109, 226, 140)); 
  
  }
  
  .container {
    width: 510px;
    padding: 20px;
    background: linear-gradient(360deg, #9ce3dc, #83d8c5,rgb(168, 204, 125)); 
  
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  
}

  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  table {
    margin-bottom: 20px;
  }
  
  th,
  td {
    padding: 10px;
  }
  
  select,
  input[type="date"] {
    width: 100%;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 3px;
  }
  
  .error-message {
    color: red;
    margin-top: 5px;
  }
  
  button[type="submit"] {
    width: 100px;
    padding: 10px;
    background: #4caf50;
    color: #ffffff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }

  button[type="submit"]:hover {
    background: #449d44;
  }
  button-back{
    background: #c4000d
  }